body {
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

form:first-of-type {
    display: none;
}

.countdown-container {
    display: none
}

#chrono-container {
    display: none;
}

#alarm-container {
    display: none;
}
#alarm-container form {
    display: none;
}